<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
    <property name="brokerURL" value="failover:(tcp://localhost:61616)" />
    <property name="userName" value="test" />
    <property name="password" value="test" />
  </bean>

  <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
    <property name="connectionFactory" ref="jmsConnectionFactory" />
    <property name="maxConnections" value="10" />
  </bean>

  <bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
    <property name="connectionFactory" ref="pooledConnectionFactory" />
    <property name="destinationName" value="TEST" />
    <property name="messageListener" ref="messageListener" />
    <property name="concurrentConsumers" value="10" />
  </bean>
  <!--
  <bean id="jmsContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
    <property name="connectionFactory" ref="pooledConnectionFactory" />
    <property name="destinationName" value="TEST" />
    <property name="messageListener" ref="messageListener" />
    <property name="concurrentConsumers" value="10" />
  </bean>
  -->

  <bean id="messageListener" class="com.redhat.issues.amq.SpringJmsConsumer" />

</beans>
